html, body {
    margin: 20px;
}

input[type=text] {
    width: 9em;
}

td h3 {
    text-align: right;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.panel-heading h3 {
    margin-top: 5px;
    margin-bottom: 2px;
}
