<h1>
    Sheets!
    {{#link-to 'sheets.new' class="btn btn-default"}}New{{/link-to}}
</h1>

<ul>
{{#each sheet in sheets}}
    <li>
        {{#link-to 'sheet' sheet.id}}{{sheet.name}}{{/link-to}}
        ({{sheet.totalXp}}xp)
    </li>
{{/each}}
</ul>
