<h1>
    Sheets!
    {{#if session.isAuthenticated}}
        {{#link-to 'sheets.new' class="btn btn-default"}}New{{/link-to}}
    {{/if}}
</h1>

<ul>
{{#each sheet in model}}
    <li>
        {{#link-to 'sheet' sheet.id}}
            {{#if sheet.name}}
                {{sheet.name}}
            {{else}}
                &lt;unnamed thief&gt;
            {{/if}}
        {{/link-to}}
        ({{sheet.totalXp}}xp)
    </li>
{{/each}}
</ul>
