<h1>
    Sheets!
</h1>

<ul>
{{#each sheet in model.sheets}}
    <li>
        {{#link-to 'sheet' sheet.id}}{{#if sheet.name}}{{sheet.name}}{{else}}&lt;unnamed thief&gt;{{/if}}{{/link-to}}
        ({{sheet.totalXp}}xp)
    </li>
{{/each}}
</ul>
